
<div class="row">
	<div>
		<center>
			<h3>New PhoneBook Entry Registration Form</h3>
		</center>
	</div>
	<div class="col-md-5">
	</div>
	<div class="col-md-3">
		<br>
		<form class="form-group">
			 <input type="text" class="form-control" ng-model="productInput.firstname" placeholder="first name">
			 <input type="text" class="form-control" ng-model="productInput.lastname" placeholder="last name "> 
			 <input type="text" class="form-control" ng-model="productInput.phnumber" placeholder="phnumber">
			 <input type="text" class="form-control" ng-model="productInput.address" placeholder="address">
		     <input type="text" class="form-control" ng-model="productInput.category" placeholder="Category"> 
		     <input type="text" class="form-control" ng-model="productInput.email" placeholder="Email">

		</form>
	</div>
	

	<div class="col-md-4"></div>
</div>

<div class="row">
	<div class="col-md-6"></div>
	<div class="col-md-6">
		<button ng-click="savebutton()" class="btn btn-info">Insert</button>
	</div>

</div>


</div>


