<div class="nestedNav">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" ui-sref="dw">Phonebook Entries</a></div>
        <ul class="nav navbar-nav">
           <li><a ui-sref="dw.ProductList">Complete PhoneBookList</a></li>
           <li><a ui-sref="dw.ProductSearch">Serach entry</a></li>
          <li><a ui-sref="dw.Productdelete">Delete Entry</a></li>
          <li><a ui-sref="dw.Productupdate">Update Entry</a></li>
          <li><a ui-sref="dw.SaveProduct">Save New Entry</a></li>
        </ul>
      </div>
    </nav>
</div>    
<div ui-view>
    <h3>Phone Book  Home</h3>
</div>

